[project]
	description = I'm not the author of these patches! I only synchronized the last dmidecode-win32 patches with the last dmidecode release.
[access "refs/*"]
	owner = group user/Gonéri Le Bouder (goneri)
[access "refs/for/refs/*"]
	read = group user/Gonéri Le Bouder (goneri)
	push = group user/Gonéri Le Bouder (goneri)
	label-Code-Review = -2..+2 group user/Gonéri Le Bouder (goneri)
	label-Verified = -1..+1 group user/Gonéri Le Bouder (goneri)
	rebase = group user/Gonéri Le Bouder (goneri)
	removeReviewer = group user/Gonéri Le Bouder (goneri)
	submit = group user/Gonéri Le Bouder (goneri)
[access "refs/heads/*"]
	read = group user/Gonéri Le Bouder (goneri)
	create = group user/Gonéri Le Bouder (goneri)
	push = +force group user/Gonéri Le Bouder (goneri)
	pushMerge = group user/Gonéri Le Bouder (goneri)
[access "refs/tags/*"]
	push = +force group user/Gonéri Le Bouder (goneri)
	pushTag = group user/Gonéri Le Bouder (goneri)
	pushSignedTag = group user/Gonéri Le Bouder (goneri)
